* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html,
body {
  height: auto;
}

.logo_menu {
  display: flex;
  padding: 5% 5%;
}

#menu {
  color: #314584;
}

.main_menu {
  list-style: none;
  left: 16%;
  position: absolute;
}

.main_menu > li {
  display: inline-block;
  margin: 0 auto;
  padding: 0 16px;
}

.main_menu a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #314584;
  cursor: pointer;
}

nav {
  display: flex;
}

.main_menu li:hover {
  background: #f4fafe;
}

/* __________________________________ */

.arrows_contacts {
  display: flex;
}

.arrow,
.contact {
  display: flex;
}

.arrow .lang {
  font-size: 18px;
  color: #314584;
  border: none;
  appearance: none;
  outline: none;
}

.arrow {
  position: absolute;
  right: 32%;
}

.arrow a img {
  margin-top: 15px;
}

.contact {
  box-shadow: 3px 2px 9px -5px #000000;
  padding: 8px 18px;
  border-radius: 6%;
  position: absolute;
  right: 18%;
}

.contact a {
  text-decoration: none;
  font-size: 18px;
  color: #ff3946;
}

.contact a img {
  padding-left: 20px;
}

/* ___________________________ */

.download_main {
  margin: 10% 17% 15%;
}

.download {
  position: relative;
}

.download > h1 {
  font-size: 73.48px;
  color: #314584;
  margin-right: 45%;
}

.download > p {
  color: #6e757a;
  font-size: 18px;
  font-weight: normal;
  margin: 4% 50% 4% 0;
}

button {
  font-size: 18px;
  background-color: #ff3946;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  padding: 18px 40px;
}

.button > a {
  font-size: 18px;
  color: #314584;
  margin: 3%;
  text-decoration: none;
}

.vector {
  position: absolute;
  top: 28%;
  right: 6%;
  display: none;
}

.vector::after {
  content: "Lorem Ipsum";
  position: absolute;
  right: 12%;
  top: 32%;
  font-size: 18px;
  color: #ff3946;
}

.vector > img {
  display: none;
}

.vector .block {
  display: block;
  object-fit: cover;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* ______________________________________
*/

.load_menu > h2 {
  font-size: 48.43px;
  color: #314584;
  margin: 13% 60% 0 17%;
}

.loading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 30px;
  margin: 5% 17% 2.5%;
}

.loading > div {
  background-color: #c3d0d8;
  padding: 35% 40%;
}

.load_menu > a {
  display: block;
  font-size: 18px;
  color: #ff3946;
  text-align: center;
  text-decoration: none;
}

/* _______________________________________ */

.contact_us > h4 {
  font-size: 18px;
  color: #ff3946;
  margin: 16% 0 1% 17%;
}

.contact_us > a {
  font-size: 48.43px;
  color: #314584;
  margin-left: 17%;
  text-decoration: none;
}

.contact_us > button {
  display: block;
  margin: 0 auto;
}

.contacts > input {
  background-color: #f4fafe;
  border: none;
}

.box1,
.box2 {
  padding: 4% 5%;
}

.contacts {
  margin: 2% 17% 3% 17%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "A B"
    "C C"
    "C C";
}

.contacts > input::placeholder {
  font-size: 18px;
  color: #314584;
}

.box1 {
  grid-area: A;
}

.box2 {
  grid-area: B;
}

.box3 {
  grid-area: C;
  padding: 2% 5% 10% 3%;
}

/* _____________________________ */

footer {
  text-align: center;
  background-color: #314584;
  margin-top: 3%;
  width: auto;
}

footer > .main_menu a {
  color: #ffffff;
}

footer > .main_menu li:hover {
  color: #c3d0d8;
  background: #314584;
}

footer > .main_menu a:hover {
  color: #c3d0d8;
}

footer > .main_menu {
  left: 35%;
}

footer > h4 {
  color: #ffffff;
  padding: 4% 0 1%;
  font-size: 18px;
}

footer > h1 {
  color: #ff3946;
  font-size: 48.43px;
  margin-bottom: 2%;
}

footer > p {
  color: #ffffff;
  font-size: 14px;
  padding-top: 4%;
}

.social_icons > a > img {
  padding: 2%;
  cursor: pointer;
}

/* ______________________ */

#menu {
  display: none;
  background-color: #ffffff;
}

#menu > img {
  margin: -5px 0 0 14px;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1570px) {
  .vector > img {
    width: 80%;
  }
  .vector {
    left: 60%;
  }
}

@media (max-width: 1420px) {
  .main_menu,
  .arrow > p,
  .contact > p {
    font-size: 15px;
  }
  .contact {
    right: 5%;
  }
  .download > h1 {
    font-size: 40px;
    margin-right: 60%;
  }
  .main_menu {
    left: 14%;
  }
  .main_menu > li {
    padding: 0 6px;
  }
  .load_menu > h2,
  .contact_us > a {
    font-size: 25px;
  }
}

@media (max-width: 1090px) {
  .vector::after {
    font-size: 14px;
  }
  footer > h1 {
    font-size: 18px;
  }
  footer > .main_menu {
    left: 30%;
  }
}

@media (max-width: 883px) {
  .main_menu > li {
    padding: 0 3px;
  }
  .arrow .lang,
  .contact a,
  .main_menu > li a {
    font-size: 12px;
  }
  .download > h1 {
    font-size: 30px;
    margin-right: 50%;
  }
  button {
    font-size: 12px;
    padding: 8px 18px;
  }
}

@media (max-width: 768px) {
  #menu {
    display: block;
    margin-left: 60px;
    cursor: pointer;
  }
  .arrow {
    right: 45%;
  }
  .contact {
    padding: 4px 14px;
  }
  .slider {
    display: none;
  }
  .main_menu {
    background: #c3d0d8;
    position: fixed;
    z-index: 999;
    right: 25%;
    top: 6%;
    bottom: 79%;
    flex-direction: column;
    text-align: center;
    opacity: 0;
  }
  .main_menu li {
    display: block;
    padding-top: 2%;
  }
  .main_menu.open a {
    margin: 0 auto;
  }
  .main_menu.open {
    opacity: 1;
  }
  .vector {
    display: none;
  }
  .download > h1 {
    margin-right: 0;
  }
  .download > p {
    margin-right: 0;
    font-size: 14px;
  }
  .load_menu > h2 {
    margin-right: 20%;
  }
  .button > a {
    font-size: 10px;
  }
  .contacts {
    margin-right: 17%;
  }
}
